body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}
h2 {
	color: green;
	text-align: right;
	font-size: 10;

}

p {
  font-family: courier;
  font-size: 40px;
  color: red;
}